#footer-bar {
    background-color: #4d4946;
    height: 75px;
    display: flex;
    justify-content: space-between;;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
}
.copyright {
    color: #d8d6d1;
}
.social {
    align-items: center;
    color: #d8d6d1;
    display: flex;
    justify-content: center;
}
.facebook, .twitter {
    background: #d8d6d1 none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(133, 131, 127, 0.4);
    color: #4d4946;
    height: 25px;
    position: relative;
    width: 25px;
    margin-left: 10px;
}
.facebook i {
    left: 8px;
    position: absolute;
    top: 6px;
    color: #4d4946;
}
.twitter i {
    left: 6px;
    position: absolute;
    top: 5px;
    color: #4d4946;
}
