#sponsor-section {
     background-color: #d9d7d2;
     height: 125px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.sponsor {
     color: #84827e;
}
#footer-bar {
    background-color: #4d4946;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
}
.copyright {
    color: #d8d6d1;
}
.social {
    align-items: center;
    color: #d8d6d1;
    display: flex;
    justify-content: center;
}
.social a {
    margin-left: 20px;
    text-decoration:none;
}
.facebook, .twitter {
    background: #d8d6d1 none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(133, 131, 127, 0.4);
    color: #4d4946;
    height: 35px;
    position: relative;
    width: 35px;
    display: flex;
}
.facebook i, .twitter i {
    margin:auto;
    color: #4d4946;
    font-size: 23px;
}

@media screen and (max-width: 500px) {
    #footer-bar {
        font-size: 12px;
        padding: 0 25px;
    }
}
