#homepage-bg {
  background: url('../../img/homepage-banner.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}
.sub-header {
    background: #d7d8d2;
    height: 160px;
    position: relative;
}
.sub-header > div {
    position: absolute;
    top: 0;
    width: 50%;
    bottom:0;
}
.info-container {
    transition: all 0.2s ease 0s;
    right:0;
    display:flex;
    flex-direction: row;
    font-size:14px;
}
.info-container > div {
    transition: all 0.2s ease 0s;
    flex: 1;
    position: relative;
}
.contact > ul {
    transition: all 0.2s ease 0s;
    position: absolute;
    top: 60px;
    right:0;
    margin-right:20px;
}
.contact ul li {
    display: inline-block;
    vertical-align: middle;
    color:#85837f;
}
.ne-header {
    background:#f2f2f2;
    display: flex;
    height: 60px;
    width: 100%;
}
.news-icon {
    align-self: center;
    background: #e76f21 none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px rgba(229, 110, 38, .3);
    color: #fff;
    height: 18px;
    margin-left: 20px;
    padding: 5px;
    width: 18px;
    position: relative;
}
.news-icon i {
    position: absolute;
    top:6px;
}
.events-icon {
    align-self: center;
    background: #45b0f0 none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px rgba(80, 178, 241, .3);
    color: #fff;
    height: 18px;
    margin-left: 5px;
    padding: 5px;
    width: 18px;
    position: relative;
}
.events-icon i {
    position: absolute;
    top: 5px;
    left:7px;
}
.ne-title, .testimonials-title {
    align-self: center;
    color: #4E4A47;
    padding: 5px;
    font-family: 'Baskerville', 'Roboto', 'Helvetica', sans-serif;
    font-size:28px;
}
.ne-body {
    background:#fff;
}
.ne-holder {
    text-align: center;
}
.ne-holder > li {
    display:inline-block;
    margin:50px 20px;
    position: relative;
}
.ne-holder > li .badge {
    position: absolute;
    height: 100%;
    width: 100%;
}
.ne-holder > li .badge .badge-icon:before{
    z-index: 9;
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    right: -16px;
    top: -16px;
    font-family: fontawesome;
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
}
.radial {
    border-radius: 5px;
    height: 300px;
    width: 300px;
}
.radial > a {
    height: 100%;
    left:0;
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 100%;
}
.radial > a:hover {
    background:rgba(255,255,255,.3);
    transition: all 0.2s ease 0s;
}
.radial .title-container {
    width: 100%;
    position: absolute;
    bottom: 20px;
}
.radial .title-background {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
.radial .title-text {
    color: #fff;
    padding:10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
.Events .badge .badge-icon:before {
    background: #45b0f0;
    line-height: 2.0em;
    content: "\f073";
}
.News .badge .badge-icon:before {
    background: #E76F21;
    line-height: 2.2em;
    content: "\f1ea";
}
.Events .radial .title-background {
    background-color: #45b0f0;
}
.News .radial .title-background {
    background-color: #E76F21;
}
.homepage-banner {
    border-bottom:2px solid #e56e26;
    height:450px;
    position: relative;
    width:100%;
}
.homepage-banner .cover, .testimonials-body .cover {
    background: linear-gradient(to right,#bfd71f 0%,#50b2f1 100%);
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}
.homepage-banner .tagline {
    background:rgba(255,255,255,0.7);
    height: 200px;
    position: absolute;
    right: 0;
    top: 75px;
    width: 300px;
}
.tagline img {
    margin:20px;
    width:80%;
}
.scroll-down {
    bottom:0;
    color:#fff;
    font-size:14px;
    left:0;
    position:absolute;
    right:0;
    text-align: center;
}
.bounce {
      display: inline-block;
      position: relative;
      -moz-animation: bounce 0.5s infinite linear;
      -o-animation: bounce 0.5s infinite linear;
      -webkit-animation: bounce 0.5s infinite linear;
      animation: bounce 0.5s infinite linear;
      colr:000;
}
.fa-angle-double-down{
    font-size: 22px;
    margin: 5px;
}
@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
.lm-donate-cont .lm-donate-body {
    white-space: nowrap;
}
.lm-donate-body {
    font-size:0;
}
.lm-donate-body li {
    display:inline-block;
    height:200px;
    position:relative;
    white-space: normal;
    width:50%;
}
.lm-donate-body li a {
    height:100%;
    left:0;
    position:absolute;;
    text-decoration: none;
    width:100%;
}
.LearnMore a {
    background:rgba(229,110,38,.3);
    transition: all 0.2s ease 0s;
}
.LearnMore a:hover {
    background:rgba(229,110,38,.5);
    transition: all 0.2s ease 0s;
}
.Donate a {
    background:rgba(80,178,241,.3);
    transition: all 0.2s ease 0s;
}
.Donate a:hover {
    background:rgba(80,178,241,.5);
    transition: all 0.2s ease 0s;
}
.LearnMore .title-text, .Donate .title-text {
    border-right:1px solid #fff;
    color:#fff;
    float:left;
    font-family: 'Baskerville', 'Roboto', 'Helvetica', sans-serif;
    font-size:52px;
    height: 55%;
    margin:50px 20px 0 0;
    text-align: center;
    width:23%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lm-donate-body .content-text {
    color:#fff;
    font-family:'Roboto', 'Helvetica', sans-serif;
    font-size:15px;
    margin:65px 0 0 0;
    width:96%;
}
.testimonials-cont {
    border-top:2px solid #e56e26;
    position:relative;
    text-align: center;
}
.testimonials-body{
}
.testimonials-body li {
    background:#fff;
    border-radius: 5px;
    border-top:35px solid #bfd52c;
    display:inline-block;
    height:300px;
    margin:50px 20px;
    position: relative;
    transition: all 0.2s ease 0s;
    vertical-align: top;
    width:300px;
}
.testimonials-body li:hover {
    border-color:#a7ba27;
    transition: all 0.2s ease 0s;
}
.testimonials-body a {
    color:#555;
    text-decoration: none;
    position: relative;
}
.testimonials-body .title-text, .testimonials-body .content-text {
    margin:10px;
    max-height:209px;
    overflow:hidden;
}
.testimonials-body .title-text {
    font-family: 'Yellowtail', cursive;
    font-size:20px;
    text-align: center;
}
.testimonials-body .content-text {
    margin-top:25px;
}
.testimonial-icon {
    background:#bfd52c;
    border:2px solid #fff;
    border-radius: 50%;
    height:50px;
    left:125px;
    position:absolute;
    top:-32px;
    width:50px;
}
.testimonial-icon:before {
    color:#fff;
    content:"\f10e";
    font-family: FontAwesome;
    font-size:24px;
    line-height:50px;
}
.quote-icon {
    align-self: center;
    background: #bfd52c none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px rgba(192, 213, 45, .3);
    color: #fff;
    height: 18px;
    margin-left: 20px;
    padding: 5px;
    width: 18px;
    position: relative;
}
.quote-icon i {
    left:7px;
    position: absolute;
    top:6px;
}


/* ----------- Our breakpoints - use in each .css file as needed ----------- */
@media screen and (max-width: 1300px) {
  .LearnMore .title-text, .Donate .title-text {
      font-size:40px;
  }
}
@media screen and (max-width: 1200px) {
    .lm-donate-body .content-text {
        margin:58px 0 0 0;
    }
}
@media screen and (max-width: 1100px) {
    .LearnMore .title-text, .Donate .title-text {
        border:none;
        font-size:48px;
        width:100%;
    }
    .lm-donate-body .content-text {
        display:none;
    }
}
@media screen and (max-width: 800px) {
    .nav-is-open {
        width: 100%;
    }
    .logo {
        transition: all 0.2s ease 0s;
        height: 100px;
        width: 100px;
        top:30px;
    }
    .logo > img {
        transition: all 0.2s ease 0s;
        margin: 10px auto 0;
    }
    .info-container {
        transition: all 0.2s ease 0s;
        flex-direction:column;
    }
    .contact > ul {
        transition: all 0.2s ease 0s;
        right:inherit;
        top:35px;
    }
    .address > ul {
        transition: all 0.2s ease 0s;
        top: 10px;
    }
}
