.sub-header {
    background: #d7d8d2;
    height: 160px;
    position: relative;
}
.sub-header > div {
    position: absolute;
    top: 0;
    width: 50%;
    bottom:0;
}
.info-container {
    transition: all 0.2s ease 0s;
    right:0;
    display:flex;
    flex-direction: row;
    font-size:14px;
}
.info-container > div {
    transition: all 0.2s ease 0s;
    flex: 1;
    position: relative;
}
.contact > ul {
    transition: all 0.2s ease 0s;
    position: absolute;
    top: 60px;
    right:0;
    margin-right:20px;
}
.contact ul li {
    display: inline-block;
    vertical-align: middle;
    color:#85837f;
}
.info-container div ul li:first-child {
    margin-right: 6px;
}
.address > ul {
    transition: all 0.2s ease 0s;
    position: absolute;
    top: 60px;
}
.address ul li {
    display: inline-block;
    vertical-align: top;
    color:#85837f;
}
.address-icon {
    background: #85837f none repeat scroll 0 0;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    box-shadow: 0px 0px 0px 3px rgba(133, 131, 127, .4);
    color: #ffffff!important;
    position: relative;
}
.address-icon i {
    left: 7px;
    position: absolute;
    top: 6px;
}
.address .address-icon i {
    left:9px;
}
.logo {
    transition: all 0.2s ease 0s;
    background: #ffffff;
    height: 180px;
    left: 16%;
    position: absolute;
    top: 15px;
    width: 180px;
    z-index:1;
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, .3);
    border-radius: 50%;
}
.logo > img {
    display: block;
    margin: 15px auto 0;
    width: 60%;
}
.ne-header {
    display: flex;
    height: 60px;
    width: 100%;
}
.news-icon {
    align-self: center;
    background: #e76f21 none repeat scroll 0 0;
    border: 1px solid #e76f21;
    border-radius: 50%;
    color: #fff;
    height: 18px;
    margin-left: 20px;
    padding: 5px;
    width: 18px;
    position: relative;
}
.news-icon i {
    position: absolute;
    top:6px;
}
.events-icon {
    align-self: center;
    background: #45b0f0 none repeat scroll 0 0;
    border: 1px solid #45b0f0;
    border-radius: 50%;
    color: #fff;
    height: 18px;
    margin-left: 5px;
    padding: 5px;
    width: 18px;
    position: relative;
}
.events-icon i {
    position: absolute;
    top: 5px;
    left:7px;
}
.ne-title {
    align-self: center;
    padding: 5px;
    font-family: 'Baskerville Regular', 'Roboto', 'Helvetica', sans-serif;
}
.ne-holder {
    display: flex;
}
.ne-holder > li {
    flex:1;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
}
.radial {
    border-radius: 50%;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    width: 300px;
    position: relative;
}
.radial > a {
    background-color: #45b0f0;
    height: 80px;
    position: absolute;
    top: 36%;
    width: 100%;
    opacity: 0.8;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.post-title {
    background-color: #45b0f0;
    height: 70px;
    position: absolute;
    top: 36%;
    width: 100%;
    text-align: center;
}
.Events .badge {
    height: 300px;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 300px;
}
.Events .badge .badge-icon:before {
    background: #45b0f0;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #ffffff;
    content: "\f073";
    font-family: fontawesome;
    font-size: 1.2em;
    height: 50px;
    line-height: 2.4em;
    position: absolute;
    right: 40px;
    text-align: center;
    top: 2px;
    width: 50px;
    z-index: 9;
}
.News .badge {
    height: 300px;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 300px;
}
.News .badge .badge-icon:before {
    background: #E76F21;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #ffffff;
    content: "\f1ea";
    font-family: fontawesome;
    font-size: 1.2em;
    height: 50px;
    line-height: 2.4em;
    position: absolute;
    right: 40px;
    text-align: center;
    top: 2px;
    width: 50px;
    z-index: 9;
}

/* ----------- Our breakpoints - use in each .css file as needed ----------- */
@media screen and (max-width: 1100px) {
    .ne-holder {
        flex-direction:column;
    }
    .ne-holder > li {
        margin: 0 auto 25px;
    }
}
@media screen and (max-width: 800px) {
    .nav-is-open {
        width: 100%;
    }
    .logo {
        transition: all 0.2s ease 0s;
        height: 100px;
        width: 100px;
        top:30px;
    }
    .logo > img {
        transition: all 0.2s ease 0s;
        margin: 10px auto 0;
    }
    .info-container {
        transition: all 0.2s ease 0s;
        flex-direction:column;
    }
    .contact > ul {
        transition: all 0.2s ease 0s;
        right:inherit;
        top:35px;
    }
    .address > ul {
        transition: all 0.2s ease 0s;
        top: 10px;
    }
}

.homepage-banner {
    background: url('../../img/homepage-banner.jpg') no-repeat center;
    background-size: cover;
    height:350px;
    position: relative;
    width:100%;
}
.homepage-banner .cover {
    background: linear-gradient(to right,#bfd71f 0%,#50b2f1 100%);
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}
.homepage-banner .tagline {
    background:rgba(255,255,255,0.7);
    height: 200px;
    position: absolute;
    right: 0;
    top: 75px;
    width: 300px;
}
.tagline img {
    margin:20px;
    width:80%;
}
.scroll-down {
    bottom:0;
    color:#fff;
    font-size:14px;
    left:0;
    position:absolute;
    right:0;
    text-align: center;
}
.bounce {
      display: inline-block;
      position: relative;
      -moz-animation: bounce 0.5s infinite linear;
      -o-animation: bounce 0.5s infinite linear;
      -webkit-animation: bounce 0.5s infinite linear;
      animation: bounce 0.5s infinite linear;
      colr:000;
}
.fa-angle-double-down{
    font-size: 22px;
    margin: 5px;
}
@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
