#top-nav {
    background:#4e4a47;
    padding:10px 0;
    position:relative;
    text-align: right;
    width:100%;
    min-height: 36px;
}
.search-icon, .nav-icon {
  transition: all 0.2s ease 0s;
  background:#d8d7d2;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px rgba(215, 214, 209, .4);
  display:inline-block;
  height:35px;
  margin-right:25px;
  width:35px;
}
.search-icon:hover, .nav-icon:hover {
  transition: all 0.2s ease 0s;
  box-shadow: 0px 0px 0px 3px rgba(215, 214, 209, 1);
}
.search-icon:before, .nav-icon:before {
  color:#4e4a47;
  content: "\f002";
  font-family:FontAwesome;
  left:-10px;
  position:relative;
  top:9px;
}
.nav-icon {
    transition: all 0.2s ease 0s;
    display: none;
    margin-right:0;
}
.nav-icon:before {
    content:'\f0c9';
}
.nav-icon:hover {
    cursor: pointer;
}
.nav-item {
    display:inline-block;
}
.nav-container {
    transition: all 0.2s ease 0s;
    background: rgba(78,74,71,.9);
    color: white;
    height: 100%;
    max-width: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.2s ease 0s;
    z-index: 10;
}
.nav-is-open {
    transition: all 0.2s ease 0s;
    max-width: 700px;
    padding: 0;
}
.nav-is-closed {
    transition: all 0.2s ease 0s;
    display: none;
}
.side-menu {
    display: none;
}
.right-actions {
    position: absolute;
    right:0;
    top:10px;
}
.top-bar-container {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.top-bar-container .menu {
    display: inherit;
    /*margin-right:85px;*/
}
.top-bar-container .menu li {
    display: inline-block;
    margin: 10px 0;
}
.top-bar-container .menu li:after {
    content: '\00a0\00a0/\00a0';
    color: #bebcb7;
}
.top-bar-container .menu li a {
    transition: all 0.2s ease 0s;
    text-decoration: none;
    color:#bebcb7;
    text-transform: uppercase;
}
.top-bar-container .menu li a:hover {
    transition: all 0.2s ease 0s;
    color:#fff;
    cursor: pointer;
}
.top-bar-container .menu li:last-child:after {
    content: '';
}
.side-nav .menu li {
    margin-top:15px;
}
.side-nav .menu li a {
    transition: all 0.2s ease 0s;
    text-decoration: none;
    color:#bebcb7;
    text-transform: uppercase;
}
.side-nav .menu li a:hover {
    transition: all 0.2s ease 0s;
    color:#fff;
    cursor: pointer;
}
.side-nav .menu li a:selected {
    color:#fff;
}
.sub-header {
    background: #d7d8d2;
    height: 110px;
    position: relative;
}
.sub-header .logo-container {
    position: absolute;
    width: 25%;
}
.sub-header .spacer-container {
    position: absolute;
    width: 15%;
}
.sub-header .info-container {
    position: absolute;
    width: 60%;
}
.info-container {
    transition: all 0.2s ease 0s;
    right:0;
    display:flex;
    flex-direction: row;
    font-size:16px;
}
.info-container > div {
    transition: all 0.2s ease 0s;
    flex: 1;
    position: relative;
}
.info-container div ul li:first-child {
    margin-right: 10px;
}
.contact > ul {
    transition: all 0.2s ease 0s;
    position: absolute;
    top: 36px;
    right:0;
    margin-right:20px;
}
.contact ul li {
    display: inline-block;
    vertical-align: middle;
    color:#85837f;
}
.address > ul {
    transition: all 0.2s ease 0s;
    position: absolute;
    top: 36px;
    left: 20px;
}
.address ul li {
    display: inline-block;
    vertical-align: top;
    color:#85837f;
}
.address-icon {
    background: #85837f none repeat scroll 0 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: 0px 0px 0px 3px rgba(133, 131, 127, .4);
    color: #ffffff!important;
    position: relative;
}
.address-icon i {
    left: 11px;
    position: absolute;
    top: 8px;
    font-size: 26px;
}
.address .address-icon i {
    left:13px;
}
.logo {
    transition: all 0.2s ease 0s;
    background: #ffffff;
    height: 300px;
    left: 25%;
    position: absolute;
    top: 30px;
    width: 300px;
    z-index:1;
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, .3);
    border-radius: 50%;
}
.logo > img {
    display: block;
    margin: 28px auto 0;
    width: 62%;
}

/* ----------- Our breakpoints - use in each .css file as needed ----------- */
@media screen and (max-width: 800px) {
    /*.nav-icon {
        transition: all 0.2s ease 0s;
        display: inherit;
        position: absolute;
        right: 20px;
        top: 0;
    }
    .search-icon {
        transition: all 0.2s ease 0s;
        margin-right:75px;
    }*/
    .nav-is-open {
        transition: all 0.2s ease 0s;
        max-width: 700px;
    }
    /*.top-bar-container {
        transition: all 0.2s ease 0s;
        display: none;
    }*/
    .logo {
        transition: all 0.2s ease 0s;
        height: 200px;
        width: 200px;
        top:30px;
    }
    .logo > img {
        transition: all 0.2s ease 0s;
        margin: 10px auto 0;
    }
    .sub-header .info-container {
        transition: all 0.2s ease 0s;
        flex-direction:row;
        width: 75%;
        top: 0;
        bottom: 0;
    }
    .sub-header .spacer-container {
        transition: all 0.2s ease 0s;
        position: absolute;
        width: 0;
    }
    .sub-header .logo-container {
        transition: all 0.2s ease 0s;
        width: 25%;
    }
    /*.contact > ul {
        transition: all 0.2s ease 0s;
        right:inherit;
        top:45px;
        left:-20px;
    }
    .address > ul {
        transition: all 0.2s ease 0s;
        top: 5px;
        left: -20px;
    }*/
}

@media screen and (max-width: 700px) {
    .nav-icon {
        transition: all 0.2s ease 0s;
        display: inherit;
        position: absolute;
        right: 20px;
        top: 0;
    }
    .search-icon {
        transition: all 0.2s ease 0s;
        margin-right:75px;
    }
    .nav-is-open {
        transition: all 0.2s ease 0s;
        max-width: 700px;
    }
    .top-bar-container {
        transition: all 0.2s ease 0s;
        display: none;
    }
    .logo {
        transition: all 0.2s ease 0s;
        height: 100px;
        width: 100px;
        top:30px;
    }
    .logo > img {
        transition: all 0.2s ease 0s;
        margin: 10px auto 0;
    }
    .sub-header .info-container {
        transition: all 0.2s ease 0s;
        flex-direction:column;
        width: 50%;
        top: 0;
        bottom: 0;
    }
    .sub-header .spacer-container {
        transition: all 0.2s ease 0s;
        position: absolute;
        width: 0;
    }
    .sub-header .logo-container {
        transition: all 0.2s ease 0s;
        width: 50%;
    }
    .contact > ul {
        transition: all 0.2s ease 0s;
        right:inherit;
        top:45px;
        left:-20px;
    }
    .address > ul {
        transition: all 0.2s ease 0s;
        top: 5px;
        left: -20px;
    }
}
