#top-nav {
    background:#4e4a47;
    padding:10px 0;
    position:relative;
    text-align: right;
    width:100%;
    min-height: 36px;
}
.search-icon, .nav-icon {
  transition: all 0.2s;
  background:#d8d7d2;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px rgba(215, 214, 209, .4);
  display:inline-block;
  height:35px;
  margin-right:25px;
  width:35px;
}
.search-icon:hover, .nav-icon:hover {
  box-shadow: 0px 0px 0px 3px rgba(215, 214, 209, 1);
}
.search-icon:before, .nav-icon:before {
  color:#4e4a47;
  content: "\f002";
  font-family:FontAwesome;
  left:-10px;
  position:relative;
  top:6px;
}
.nav-icon {
    display: none;
    margin-right:0;
}
.nav-icon:before {
    content:'\f0c9';
}
.nav-icon:hover {
    cursor: pointer;
}
.nav-item {
    display:inline-block;
}
.nav-container {
    transition: all 0.2s;
    background: rgba(78,74,71,.9);
    color: white;
    height: 100%;
    max-width: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 10;
}
.side-menu {
    display: none;
}
.right-actions {
    position: absolute;
    right:0;
    top:10px;
}
.top-bar-container {
    display: inline-block;
    height: 39px;
    text-align: center;
    width: 100%;
}
.top-bar-container .menu {
    display: inherit;
}
.top-bar-container .menu li {
    display: inline-block;
    margin: 10px 0;
}
.top-bar-container .menu li:after {
    content: '\00a0\00a0/\00a0';
    color: #bebcb7;
}
.top-bar-container .menu li a {
    text-decoration: none;
    color:#bebcb7;
    text-transform: uppercase;
}
.top-bar-container .menu li a:hover {
    color:#fff;
    cursor: pointer;
}
.top-bar-container .menu li:last-child:after {
    content: '';
}
.side-nav .menu li {
    margin-top:15px;
}
.side-nav .menu li a {
    text-decoration: none;
    color:#bebcb7;
    text-transform: uppercase;
}
.side-nav .menu li a:hover {
    color:#fff;
    cursor: pointer;
}
.side-nav .menu li a:selected {
    color:#fff;
}
.sub-header {
    background: #d7d8d2;
    display: flex;
    height: 110px;
    position: relative;
}
.info-container {
    transition: all 0.2s;
    justify-content:center;
    position: absolute;
    right: 10%;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    height: 100%;
}
.info-container > div {
    transition: all 0.2s;
    display: flex;
    position: relative;
}
.info-container div ul {
    transition: all 0.2s;
    display: flex;
    flex-direction: row;
    margin: 0 10px;
}
.info-container div ul li {
    color:#85837f;
    margin: auto 10px;
}
.icon-container {
    background: #85837f none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px rgba(133, 131, 127, .4);
    display: flex;
    height: 40px;
    width: 40px;
}
.icon-container i {
    color: #ffffff;
    margin: auto;
    font-size: 26px;
}
.logo {
    transition: all 0.2s;
    background: #ffffff;
    height: 300px;
    left: 10%;
    position: absolute;
    top: 30px;
    width: 300px;
    z-index:1;
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, .3);
    border-radius: 50%;
}
.logo:hover {
    transition: all 0.2s;
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, .5);
}
.logo > img {
    transition: all 0.2s;
    display: block;
    margin: 9% auto 0;
    width: 62%;
}

/* ----------- Our breakpoints - use in each .css file as needed ----------- */
@media screen and (max-width: 1000px) {
    .logo {
        left: 5%;
    }
    .info-container {
        right: 5%;
    }
}

@media screen and (max-width: 900px) {
    .logo {
        height: 250px;
        width: 250px;
    }
    .info-container {
        right: 3%;
    }
}

@media screen and (max-width: 800px) {
    .logo {
        height: 180px;
        width: 180px;
        top: 20px;
    }
    .info-container {
        right: 2%;
    }
}

@media screen and (max-width: 700px) {
    .logo {
        height: 150px;
        width: 150px;
        left: 3%;
        top: 10px;
    }
    .info-container div ul {
        margin: 0 4px;
    }
    .info-container div ul li {
        font-size: 14px;
        margin: auto 5px;
    }
    .icon-container {
        height: 35px;
        width: 35px;
    }
    .icon-container i {
        font-size: 22px;
    }
    .nav-icon {
        display: inherit;
        position: absolute;
        right: 20px;
        top: 0;
    }
    .search-icon {
        margin-right:75px;
    }
    .top-bar-container {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        height: 130px;
        width: 130px;
        top: 10px;
    }
    .info-container {
        flex-direction: column;
        justify-content: space-around;
        right: 5%;
        height: 85%
    }
}
