.nav-icon {
    margin-right:25px;
}
.nav-icon:before {
    content:'\f0c9';
}
.nav-icon:hover {
    cursor: pointer;
}
.nav-item {
    display:inline-block;
}
.nav-container {
    background: rgba(78,74,71,.9);
    color: white;
    height: 100%;
    max-width: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.2s ease 0s;
    z-index: 2;
}
.nav-is-open {
    max-width: 700px;
    padding: 0 7%;
}
.nav-is-closed {
    display: none;
}
.menu li {
    margin-top:15px;
}
.menu li a {
    transition: all 0.2s ease 0s;
    text-decoration: none;
    color:#bebcb7;
    text-transform: uppercase;
}
.menu li a:hover {
    transition: all 0.2s ease 0s;
    color:#fff;
    cursor: pointer;
}
.menu li a:selected {
    color:#fff;
}
